{% extends "layout.html" %}
<!-- since the query joins Meme and User into meme, use meme.<table> to get values -->
{% block body %}
<div class="container">
    <div class="row">
        <h2>{{ meme.Meme.title }}</h2>
    </div>
    <div class="row">
        <img src=" {{ meme.Meme.url }} ">
    </div>
    <div class="break-sm"></div>
    <div class="row">
        <div class="col-sm">Score: {{ meme.Meme.points }}</div>
        <div class="col-sm">Author: {{ meme.User.username }}</div>
        <div class="col-sm">
            <form method="POST" action="{{ url_for('memes_increase_score', meme_id=meme.Meme.id) }}">
                <input type="submit" value="Upvote"/>
            </form>
            <form method="POST" action="{{ url_for('memes_decrease_score', meme_id=meme.Meme.id) }}">
                <input type="submit" value="Downvote"/>
            </form>
            <form method="POST" action="{{ url_for('memes_delete', meme_id=meme.Meme.id) }}">
                <input type="submit" value="Delete"/>
            </form>
        </div>
    </div>
    <div class="row">
        <p>{{ form.text.label }}</p>&nbsp;
        <p>{{ form.text }}</p>&nbsp;
        <form method="POST" action=" {{ url_for('memes_comment', meme_id=meme.Meme.id) }}">
            <input type="submit" value="Submit comment">
        </form>
    </div>
</div>
{% endblock %}